{% extends '::base.html.twig' %}

{% form_theme form 'UffCalculatorBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Application creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a class="btn btn-primary" href="{{ path('environment') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
