{% extends '::base.html.twig' %}

{% form_theme form 'UffCalculatorBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Instance creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('instance') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
